.headerpost {

  font-family: 'Courier New', Courier, monospace;
    background-color: #1e2761;
    min-height: 45px;
color: white;
  width: 100%;
  margin-top: -15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}
