.likes{

}
.like{
  color: white;
  background-color: #7a2048;
  margin-left: 10px;

}
.post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 240px; 
  width: 250px;
  height: 400px;
  border: 1px solid hsl(0, 100%, 2%);
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 22px 22px 25px rgba(167, 32, 32, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.212);
}
.post *{ word-break: break-word; }
.post:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}
.textpost {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  overflow-y:auto;
}
.textpost::-webkit-scrollbar {
  background-color: #dfd9d9a5;
  border-radius: 10px;
  width: 6px;
  height: auto;
}
.textpost::-webkit-scrollbar-thumb {
  background-color: #7a2048;
  border-radius: 10px;
}

