
.postim{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 12px;
  margin-top: 32px;
  border-radius: 15px;
}


img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  align-self: center;
  background-color: rgb(82, 145, 201);
}

