
.postim{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 12px;
  margin-top: 32px;
  border-radius: 15px;
}


img{
  width: 95%;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
  align-self: center;
  background-color: black;
}

