
.postim{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.574);
}


img{
  width: 100%;
  height: auto;
}

